<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </div>
    <h1>This is Contact Page</h1>
    <form action="">
        <input type="text" placeholder="Enter your email"><br>
        <textarea name="message" id="" cols="30" rows="10" placeholder="Enter your message here"></textarea><br>
        <input type="submit" value="Send Message">
    </form>
</body>

</html>