<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styling a Web Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <h1 class="name">Shakil Ahmed</h1>
    <h3 class="location">From Dhaka, Bangladesh</h3>
    <p class="about">I am a software engineer. I make what I like to do.</p>
    <p>My favorite programming languages are</p>
    <ul>
        <li>Python</li>
        <li>Go</li>
        <li>Javascript</li>
        <li>Dart</li>
    </ul>
    <a href="https://www.github.com/shakilahmmeed" target="_blank">Here's My GitHub Profile Link</a>
    <p>Available For <b>Hire</b></p>
    <a href="mailto:shakilahmmeed@gmail.com" class="contact-btn">Contact Me</a>
</body>

</html>